.container {
    background-color: var(--primary);
    padding: 20px;
}
.sortFilterContainer{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

button {
    background-color: var(--button);
    border-radius: 5px;
    border: 0;
    margin-left: 10px;
    width: 80px;
    border-radius: 5px;
}